@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital,wght@1,400&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que ocupe toda la pantalla */
    background-color: #decec0; /* Color de fondo */
    overflow: auto; /* Evita que aparezca la barra de scroll */
    font-family: 'IM Fell DW Pica', serif; /* Aplica la fuente a todo */
    font-style: italic; /* Asegura el estilo cursivo */
}


