@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
  }